 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        素材管理
        
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="well">
        <h3>@ViewBag.filename</h3>
        <h3>
            @ViewBag.type
    </h3>
        <h3>
            @ViewBag.info
        </h3>
    </div>
</section>
<!-- /.content -->