@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="/Resource/Css/WechatStyle.css">

    <title>个人中心</title>
</head>
<body>
    <!--wrapper begin-->
    <div class="wrapper userCenter">
        <!-- header begin -->
        <header class="header">
            <a href="javascript:void(0)javascript:;" id="go-back-button" class="back"></a>
            <h1 class="sub-title">用户中心</h1>
            <a href="javascript:void(0)/m/" class="home iconfont icon-home" onclick="cc('ck_m_fanhuishouye')"></a>
        </header>
  
            <!-- user -->
            <div class="uc-info">
                <img src="http://my.2345.com/member/avatar/20286/60855098_big.jpg" class="img-circle">
                <p><b>会写代码的心</b>
                <br/>阅读币余额：<b class="spec">0</b></p>
                <a class="btn-warning btn" href="javascript:void(0)/m/index.php/c/user/a/pay/">充值</a>
            </div>
            <ul class="uc-op-list">
                <li><a href="javascript:void(0)/m/index.php/c/user/a/message/">我的消息</a></li>
            </ul>
            <ul class="uc-op-list">
                <li><a href="javascript:void(0)/m/my_store.html">云书架</a></li>
                <li><a href="javascript:void(0)/m/index.php/c/user/a/autopay/">我的订阅</a></li>
                <li><a href="javascript:void(0)/m/index.php/c/user/a/checkin/">签到记录</a></li>
                <li><a href="javascript:void(0)/m/index.php/c/user/a/payment/">充值记录</a></li>
                <li><a href="javascript:void(0)/m/index.php/c/user/a/record/">小说消费记录</a></li>
                <li><a href="javascript:void(0)/m/index.php/c/user/a/tsRecord/">图书消费记录</a></li>
            </ul>

            
          <a class="btn-danger btn" href="javascript:void(0)/m/index.php/c/user/a/pay/" style="display:block;margin:0px 10px;">退出登录</a>
    </div>
    <!--wrapper end-->

</body>

</html>
