 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        微信消息发送管理
        
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="well text-center">
        <h3 class="text-red">@ViewBag.msg</h3>
        @ViewBag.result
    </div>
</section>
<!-- /.content -->