/*!
 * 背景色：#EEEEEE 分割线：#E5E5E5 深色分割线：#CCCCCC  字体颜色 灰色：999999 深灰色：666666 深黑色 333333
 */
body {
    background-color: #EEEEEE;
}

h1 {
    padding: 0;
    margin: 0;
}





/*!
 * 个人中心
 */


.header {
    padding: 20px;
    background-color: #ffffff;
    border-bottom: solid 1px #E5E5E5;
    text-align: center;
    height: 60px;
}

    .header h1 {
        font-size: 20px;
        color: #333333;
    }


.uc-info {
    background-color: #ffffff;
    height: 80px;
    padding: 10px;
}

    .uc-info img {
        height: 60px;
        width: 60px;
        float: left;
    }

    .uc-info p {
        padding: 10px 0px 0px 15px;
        height: 25px;
        float: left;
    }

    .uc-info a {
        margin: 15px 15px 0px 0px;
        float: right;
    }

.uc-op-list {
    margin: 10px 0px;
    padding: 0px;
}

    .uc-op-list li {
        padding-left: 15px;
        font-size: 14px;
        border-bottom: solid 1px #EEEEEE;
        line-height: 45px;
        height: 45px;
        background-color: #ffffff;
    }

        .uc-op-list li a {
            display: block;
        }


/*!
 * 发现页面
 */


.search {background: #ffffff;
     height:60px;
     
}
.search form {
  margin-top:10px;
  padding:0px 10px;
}
.search input, .search button {
  border: 1px solid #eeeeee;
  outline: none;
  background: #E5E5E5;
}
.search input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.search button {
      margin-top:10px;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search button:before {
  margin-top:10px;
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #cccccc;
}

.banner {
    margin-top:60px;
    height:150px;
    background-color:#ffd800;
}



.prolist {
    margin:5px 0px;
    padding:10px 0px ;
    background-color:#ffffff;
    overflow:hidden;

}
.prolist .prolisttitle {
    width:100%;
    height:30px;
    color:#999999;
    border-bottom:1px solid #E5E5E5;

}
 .prolist   .prolisttitle h3 {
     width:100%;
         margin:0px 0px;
        padding-left:10px;
        line-height:30px;
        font-size:1.0em;
        float:left;
    }

  .prolist   .prolisttitle h3 a {
         text-decoration:none;
         color:#999999;
         display:block;
    }
.proimg {
    width:50%;
    float:left;
}

.proimg img {
    width:100%;
    height:120px; 
    padding:4px 2px 0px 2px;
    border-radius:8px;

}

.proimg1 {
    width:100%;
}

.proimg1 img {
    width:100%;
    height:120px; 
    padding:4px 2px 0px 2px;
    border-radius:8px;

}

/*!
 * 播放页面
 */

.player {
    background-color:#000000;
    width:100%;
}